@use "@linzjs/lui/dist/scss/Core" as lui;

.DiagramListWrapper {
  display: flex;
  flex-direction: column;
}

.DiagramListLabel {
  font-size: 14px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  cursor: default;
  padding: 8px;
  margin-bottom: 4px;
  border-radius: 4px;
  color: lui.$charcoal;
  &:hover {
    background-color: lui.$hint;
  }
}

.DiagramListIcon {
  fill: lui.$fuscous;
  margin-right: 4px;
  > svg {
    height: 20px;
    width: 20px;
  }
}
