@use "@linzjs/lui/dist/scss/Core" as lui;

.PlanSheetsDiagramOptions {
  padding: 8px 8px;

  &-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4px;
    & h2 {
      color: lui.$charcoal;
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      display: inline;
      padding-left: 4px;
    }
  }
}
