@use "@linzjs/lui/dist/scss/Core" as lui;
@use "@/components/Header/Header.scss" as header;
@use "@/components/PlanSheets/PlanSheetsFooter.scss" as footer;

.DiagramListWrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: calc(100vh - (#{header.$headerHeight} + #{footer.$footerHeight} + 110px));
}

.DiagramListIcon {
  fill: lui.$fuscous;
  margin-right: 4px;
  > svg {
    height: 20px;
    width: 20px;
  }
}

.DiagramListLabel {
  font-size: 14px;
  font-weight: 400;
  display: block;
  white-space: nowrap;
  cursor: default;
  border-radius: 4px;
  color: lui.$charcoal;

  .DiagramLabel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: lui.$unit-xs;
    padding-right: lui.$unit-xs;
    height: 2rem;
    border-radius: 5px;
    margin: lui.$unit-xxs 0;
    span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      flex: 1;
      &.disabled {
        color: lui.$fuscous;
        cursor: not-allowed;
      }
    }
    &:hover {
      background-color: lui.$hint;
    }

    .DiagramLabel-right-nav {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      button {
        margin-right: 0;
        padding: 0;
      }

      .LuiCounter-non-zero {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 0 4px;
        margin: 0;
      }
    }

    &.selected {
      border-radius: 4px;
      color: #2a292c;
      background-color: lui.$polar;
      span {
        font-weight: 600;
      }
    }

    &.muted {
      background-color: lui.$hint;
    }
  }
}
