@use "@linzjs/lui/dist/scss/Core" as lui;

.PlanSheetsDiagramOptions {
  padding: 8px;

  &-heading {
    display: flex;

    & h2 {
      color: lui.$fuscous;
      font-size: 15px;
      font-weight: 500;
      margin: 0;
      display: inline;
      padding-left: 4px;
    }
  }
}
