@use "@linzjs/lui/dist/scss/Core" as lui;

/* Hide arrows in input number for Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.PlanElement-container {
  .plan-element-properties {
    padding: 0 16px;

    .property-wrap {
      margin: 10px 0;

      .LuiTextInput-input {
        text-overflow: ellipsis;
      }
      .row {
        display: flex;
        align-items: center;
        .span {
          display: flex;
          align-items: center;
        }
        .labelTextarea {
          display: flex;
          height: 64px;
          width: 100%;
          resize: none;
          font-size: 16px;
          &:disabled {
            background-color: lui.$lily;
          }
        }
        .errorMessage {
          margin-top: 1px;
        }
      }
    }

    .LuiCheckboxInput,
    .LuiTextInput {
      margin-bottom: 0;
    }

    .LuiCheckboxInput {
      span {
        font-weight: 400;
      }
    }

    .svg-container {
      width: 96%;
      position: relative;
      transform: translateY(5%);
    }

    .svg-image {
      width: 100%;
    }

    .LuiRadioInput {
      .LuiRadioInput-fieldset {
        .LuiRadioInput-label {
          padding: 0.5rem 0 0.5rem 2.5rem;
          font-weight: 400;

          &:before {
            left: 10px;
          }
          &:after {
            left: 15px;
          }

          &--isSelected {
            background-color: #e2f3f7;
            border-color: #007198;
            border-radius: 5px;
            color: #2a292c;
            font-weight: 600;

            &:before {
              background-color: #ffffff;
              border-color: #007198;
            }
            &:after {
              background-color: #007198;
            }
          }

          &--isDisabled,
          &:hover {
            background-color: lui.$hint;
            border-radius: 5px;
          }
        }
      }
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 18px 0;
    margin-bottom: 10px;
    border-top: 1px solid #dad7d6;
    .lui-button {
      flex: 1;
    }
  }
}

.text-angle-input {
  .LuiTextInput-input {
    &:has(input:invalid:not(:focus)) {
      box-shadow: none;
    }

    &:invalid {
      border-color: lui.$error;
      outline: none;

      &:not(:focus) {
        border-width: 1px;
      }

      &:focus {
        border-width: 2px;
      }
    }
  }
}
