@use "@linzjs/lui/dist/scss/Core" as lui;
@use "@/components/Header/Header.scss" as header;
@use "@/components/PlanSheets/PlanSheetsFooter.scss" as footer;
@use "@/components/SidePanel/SidePanel.scss" as sidePanel;

.PlanSheets {
  width: 100vw;
  flex: 1;
  display: flex;
}

.PlanSheetsRegenText {
  width: 100em;
  color: lui.$charcoal;
  font-size: 16px;
  font-style: italic;
  text-align: center;
}
