@use "@linzjs/lui/dist/scss/Core" as lui;

$footerHeight: 56px;

.PlanSheetsFooter {
  align-items: center;
  border-top: 1px solid lui.$dew;
  background-color: lui.$hint;
  display: flex;
  flex-direction: row;
  height: $footerHeight;
  width: 100vw;
  padding-left: 8px;
  padding-right: 8px;
  bottom: 0;
  position: absolute;
  .change-sheet-button {
    height: 40px;
    padding-right: 4px;
    span.LuiIcon {
      margin: 0;
    }
  }
  .PlanSheetFooterMenuItem {
    font-weight: 400;
  }

  .change-sheet-header {
    text-transform: lowercase;
    font-size: 14px;
    font-weight: 500;
    color: lui.$fuscous;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  .vertical-spacer {
    height: lui.$unit-md;
    border-left: 1px solid lui.$dew;
    margin: 0 lui.$unit-xs;
  }

  .lui-button-tertiary .LuiIcon--error svg * {
    fill: #c00;
  }

  &-right {
    margin-left: auto;
  }

  &-saveButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    gap: 8px;
  }
}
