@use "@linzjs/lui/dist/scss/Core" as lui;

$footerHeight: 56px;
$errorColor: #cc0000;
$warningColor: #ea6a2e;

.PlanSheetsFooter {
  align-items: center;
  border-top: 1px solid lui.$dew;
  background-color: lui.$hint;
  display: flex;
  flex-direction: row;
  height: $footerHeight;
  width: 100vw;
  padding: 0 8px;
  bottom: 0;
  position: absolute;
  color: lui.$fuscous;
  fill: lui.$fuscous;

  .change-sheet-button {
    height: 40px;
    padding-right: 4px;
    span.LuiIcon {
      margin: 0;
    }
  }

  .PlanSheetFooterMenuItem {
    font-weight: 400;
  }

  .change-sheet-header {
    text-transform: lowercase;
    font-size: 14px;
    font-weight: 500;
    color: lui.$fuscous;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  .vertical-spacer {
    height: lui.$unit-md;
    border-left: 1px solid lui.$dew;
    margin: 0 lui.$unit-xs;
  }

  .LuiIcon--error svg * {
    fill: $errorColor;
  }

  .LuiIcon--warning svg * {
    fill: $warningColor;
  }

  .lui-button-tertiary:disabled .LuiIcon--error svg *,
  .lui-button-tertiary:disabled .LuiIcon--warning svg * {
    fill: #989189;
  }

  &-right {
    margin-left: auto;
    display: flex;
    flex-direction: row;

    &-icon-button {
      padding: 8px 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 180px;
      gap: 8px;
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    color: lui.$charcoal;
  }
}
