@use "@linzjs/lui/dist/scss/Core" as lui;

$footerHeight: 56px;

.PlanSheetsFooter {
  align-items: center;
  border-top: 1px solid lui.$dew;
  background-color: lui.$hint;
  display: flex;
  flex-direction: row;
  height: $footerHeight;
  width: 100vw;
  padding-left: 8px;
  padding-right: 8px;
  bottom: 0;
  position: absolute;

  .change-sheet-header {
    text-transform: lowercase;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  &-right {
    margin-left: auto;
  }

  &-saveButton {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
