.CompileImagesViewerContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  gap: 20px;
  padding: 20px;
}

.CompileImagesViewerContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border: #0d1117 1px solid;
}

.CompileImagesViewerContainer .filename {
  color: #0d1117;
  font-size: 1.5rem;
  text-align: left;
  margin-top: 20px;
}

.CompileImagesViewerContainer .notes {
  color: #0d1117;
  font-size: 1rem;
  text-align: justify;
  width: 75%;
}
