# set to your laptop hostname (run `hostname` in powershell)
HOSTNAME=<your machine hostname>

# Local informix DB credentials
DB_USERNAME=<Ask a member of the team for this value>
DB_PASSWORD=<Ask a member of the team for this value>
