.DefineDiagram__Icon--primary svg {
  color: #009f00;

  path {
    color: #009f00;
    fill: #009f00;
  }
}

.DefineDiagram__Icon--non-primary {
  color: #ff8000;

  path {
    color: #ff8000;
    fill: #ff8000;
  }
}

.DefineDiagram__Icon--survey {
  color: #3f3faa;

  path,
  circle {
    color: #3f3faa;
    fill: #3f3faa;
  }
}
