@use "@linzjs/lui/dist/scss/Core" as lui;

$headerHeight: 56px;

.Header {
  width: 100%;
  align-items: center;
  border-bottom: 1px solid lui.$dew;
  background-color: lui.$hint;
  display: flex;
  flex-direction: row;
  height: $headerHeight;
  padding-left: lui.$unit-xs;
  padding-right: lui.$unit-sm;

  color: lui.$charcoal;
  fill: lui.$fuscous;

  .vertical-spacer {
    height: lui.$unit-md;
    border-left: 1px solid lui.$dew;
    margin: 0 lui.$unit-xs;
  }

  .lui-button-icon-only,
  .lui-button-menu {
    &:active,
    &:active:enabled {
      background-color: lui.$polar;
      & .LuiIcon {
        & circle,
        ellipse,
        line,
        path,
        polygon,
        polyline,
        rect {
          fill: rgba(lui.$sea, 0.7);
          opacity: 0.7;
        }
      }
    }
    &:active:disabled {
      background-color: inherit;
      & .LuiIcon {
        & circle,
        ellipse,
        line,
        path,
        polygon,
        polyline,
        rect {
          fill: lui.$gray;
          opacity: inherit;
        }
      }
    }
    &.selected {
      background-color: lui.$teal;
      & .LuiIcon {
        & circle,
        ellipse,
        line,
        path,
        polygon,
        polyline,
        rect {
          fill: lui.$snow;
        }
      }
    }
  }

  a.lui-button-icon-only {
    padding-top: 8px;
  }

  .lui-button-menu {
    margin: 0 lui.$unit-xxs;
    padding: lui.$unit-xxs;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .loading-spinner {
    background-color: lui.$polar;
    padding: 10px;

    &__nested {
      background-color: lui.$polar;
      padding: 10px 20px;
    }
  }

  .lui-button-centre-icon {
    .LuiIcon {
      margin: 0 8px -2px 0;
    }
  }

  .szh-menu__item {
    text-decoration: none;
    &:hover {
      color: lui.$charcoal;
    }
  }
}

// This should be outside the header, since the footer component also uses it.
.szh-menu {
  width: 274px;
  padding: 0;
  z-index: 1000; // Always on top and relative to zIndexes: Record<string, number>

  &__header {
    color: lui.$fuscous;
    font-size: 14px;
    font-weight: 600;
    line-height: 32px;
    padding: 0 lui.$unit-xs;
    text-transform: none;
  }

  &__item {
    color: lui.$charcoal;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    padding: 0 lui.$unit-xs;

    &--active {
      background-color: lui.$polar;
    }
  }

  .LuiIcon {
    fill: lui.$fuscous;
    margin-right: lui.$unit-xs;
  }
}
