.HiddenObjectsVisibleByDefault {
  flex: 1;
  font-weight: 400;

  &.LuiCheckboxInput {
    margin-bottom: 0;
  }
}

.HiddenObjectsVisibleByDefault__spinner {
  margin-right: 2px;
}

.HiddenObjectsVisibleByDefault__icon {
  margin-right: 4px;
}

.HiddenObjectsVisibleByDefault__label {
  display: flex;
  user-select: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
