@use "@linzjs/lui/dist/scss/Foundation/Variables/ColorVars.scss" as colours;

.LabelPreferencesPanel .LuiTabsPanel--active {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.LabelPreferencesPanel [col-id="revert"] path {
  color: colours.$sea;
  fill: colours.$sea;
}

.LabelPreferencesPanel__Footer {
  display: flex;
  align-items: center;
  padding: 16px;
}

.LabelPreferencesPanel__Saved {
  gap: 4px;
  display: flex;
  margin-left: 4px;
  font-weight: 400;

  svg {
    fill: colours.$success;
  }
}

.LabelPreferencesPanel__Footer button.lui-button {
  width: 120px;
}
