.diagram-movable {
  cursor: grab;
}

.diagram-moving {
  cursor: grabbing;
}

.resize-e,
.resize-w {
  cursor: ew-resize;
}

.resize-n,
.resize-s {
  cursor: ns-resize;
}

.resize-ne,
.resize-sw {
  cursor: nesw-resize;
}

.resize-nw,
.resize-se {
  cursor: nwse-resize;
}
