@use "../../../node_modules/@linzjs/lui/dist/scss/Core" as lui;

.UnhandledErrorModal-errorContent {
  margin-bottom: lui.$unit-xs;
  overflow-y: hidden;
}

.UnhandledErrorModal-errorContentHeading {
  margin-top: 0;
  color: lui.$error;
}

.UnhandledErrorModal-errorContentText {
  margin-top: lui.$unit-sm;
  margin-bottom: lui.$unit-sm;
}

.UnhandledErrorModal-errorText {
  font-size: 12px;

  word-wrap: break-word;
  margin: lui.$unit-sm 0;

  h6 {
    margin-top: lui.$unit-sm;
  }

  pre {
    margin-top: 0;
  }
}

.UnhandledErrorModal-copy-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.UnhandledErrorModal-copy-icon {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.UnhandledErrorModal .LuiModalAsync-content {
  overflow-y: hidden !important;
}
.UnhandledErrorModal .LuiAccordicard {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 4px;
}
