@use "@linzjs/lui/dist/scss/Foundation/Variables/ColorVars.scss" as colours;
@use "@linzjs/lui/dist/scss/Foundation/Utilities/BoxShadow" as utils;

.LandingPage {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.LandingPage-inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
  overflow: auto;
}

.LandingPage::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/plan-generation/static/media/landing_page_background.png");
  background-size: cover;
  opacity: 30%;
  z-index: -1;
  pointer-events: none;
}

.LandingPage-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  h1,
  h2 {
    margin-top: 0;
  }
}

.LandingPage-titlePrompt {
  color: colours.$charcoal;
}

.LandingPage-options {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(100vh - 250px);
  min-height: 220px;
  max-height: 556px;
}

.LandingPage-options-row {
  white-space: nowrap;
}

.LandingPage-option {
  margin: 0;
  text-decoration: none;
  color: colours.$sea;
}

.LandingPage-optionBtn {
  text-align: center;
  padding: 32px;
  margin: 16px;
  width: 248px;
  height: 208px;
  border-radius: 9px;
  color: colours.$surfie;
  transition: all 0.3s ease-in-out;
}

.LandingPage-optionBtn:hover {
  @include utils.drop-shadow(lg);
  background-color: colours.$polar;
  color: colours.$sea;
  cursor: pointer;
}

.LandingPage-optionLink {
  text-decoration: none;
  color: colours.$sea;
}

.LuiIcon.LandingPage-optionIcon {
  width: 100px;
  height: 100px;
}

.LandingPage-option p {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1rem;
  color: colours.$charcoal;
}

.LandingPage-option:hover p {
  color: colours.$sea;
}
