@use "@linzjs/lui/dist/scss/Foundation/Variables/ColorVars.scss" as colours;
@use '@linzjs/lui/dist/scss/Foundation/Utilities/BoxShadow' as utils;

.LandingPage {
  height:100vh;
  background-color: colours.$hint;
  padding-left: 4em;
  padding-top: 4em;
  padding-right: 4em;
  padding-bottom: 4em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.LandingPage-inner {
  padding-bottom: 25vh;
}

.LandingPage-title {
  text-align: center;
  padding-bottom: 5rem;
}

.LandingPage-titlePrompt {
  margin-top: 1rem;
  color: colours.$charcoal
}

.LandingPage-options {
  display: flex;
  flex-direction: row;
}

.LandingPage-option {
  text-align: center;
  padding: 32px;
  margin: 20px;
  width: 248px;
  height: 208px;
  border-radius: 9px;
  color: colours.$surfie
}

.LandingPage-option:hover {
  @include utils.drop-shadow(lg);
  background-color: colours.$polar;
  color: colours.$sea;
  cursor: pointer;
}

.LandingPage-optionLink {
  text-decoration: none;
  color: colours.$sea;
}

.LandingPage-optionIcon  {
  width: 100px !important;
  height: 100px !important;
}

.LandingPage-option p {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1rem;
  color: colours.$charcoal;
}

.LandingPage-option:hover p {
  color: colours.$sea;
}

.LandingPage-footer {
  justify-self: end;
  display: flex;
  align-items: center;
}

.LandingPage-infoText {
  margin-left: 4px;
  font-size: 1rem;
  font-weight: 400;
  color: colours.$charcoal;
}
