@use "@linzjs/lui/dist/scss/Core" as lui;

html {
  overflow-y: auto !important;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  fill: lui.$charcoal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
