@use "@linzjs/lui/dist/scss/Core" as lui;

.LabelTextInput-container {
  position: absolute;
  z-index: 1000;
}

.LabelTextInput {
  padding: lui.$unit-xs;
  font-family: inherit;
  font-size: 14px;
  border-radius: 3px;
  border-color: lui.$silver;
  color: lui.$charcoal;
  &::placeholder {
    color: lui.$fuscous;
    font-style: italic;
  }
  &:focus {
    border-color: lui.$sea;
    border-width: 2px;
    outline: none; /* Remove default outline */
  }
  &.error {
    border-color: lui.$error;
  }
}

.LabelTextInput-error,
.LabelTextInput-info,
.PageLabelTextAngleInput-error {
  font-size: 14px;
  font-weight: 600;
  color: lui.$charcoal;
  display: flex;
  align-items: center;
  background-color: white;
}

.LabelTextInput-info,
.LabelTextInput-error {
  margin-top: -(lui.$unit-xxs);
}

.PageLabelTextAngleInput-error {
  margin-top: 1px;
}

.LabelTextInput-info-icon,
.LabelTextInput-error-icon {
  margin-right: lui.$unit-xxs;
}
