@use "@/components/PlanSheets/PlanSheetsFooter.scss" as footer;

.CytoscapeCanvas {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.Cytoscape_no-pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - #{footer.$footerHeight});
  text-align: center;
  p {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }
  .lui-button {
    margin-bottom: 0.5rem;
  }
  .lui-show-block {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}
